<div class="flex flex-col gap-4">
    <h3 class="text-black dark:text-white text-xl font-bold">Escribe tu reseña</h3>
    <div class="flex flex-col gap-4 p-6 bg-gray-100 dark:bg-white/5 rounded-xl">
        <div class="flex items-center gap-4">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
                data-alt="User avatar placeholder"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBm_-cOrFLQaxOmnp0o8faY7czMcQr0-jjIxlOPQ7qyUrrtjjXvApUfg6Pnrs3wqWOe4czo161Ad8GUm0FSgVv9YqpanIrznGj_SV2HJcQ4dZJ02wa08Cwl1BynUDMyY0534yjcBdJWeui7fMyc7Pih3H1pv8TwEj0XKEWm7_N8uDR7eFvgT-kiD3NLQ1Rreb_iVJIQQKm8RzTnlZXyjvDMBRlzy4olUcPSoH7FyfsEHRsVmcaPbJhf5m4ou4tIMCp7z1Mlj-K2yw");'>
            </div>
            <div class="flex flex-col">
                <p class="text-black dark:text-white font-semibold">Ana García</p>
                <div class="flex gap-1 text-gray-400 dark:text-gray-500 cursor-pointer">
                    <span
                        class="material-symbols-outlined text-xl! hover:text-yellow-400 dark:hover:text-yellow-500 transition-colors">star_outline</span>
                    <span
                        class="material-symbols-outlined text-xl! hover:text-yellow-400 dark:hover:text-yellow-500 transition-colors">star_outline</span>
                    <span
                        class="material-symbols-outlined text-xl! hover:text-yellow-400 dark:hover:text-yellow-500 transition-colors">star_outline</span>
                    <span
                        class="material-symbols-outlined text-xl! hover:text-yellow-400 dark:hover:text-yellow-500 transition-colors">star_outline</span>
                    <span
                        class="material-symbols-outlined text-xl! hover:text-yellow-400 dark:hover:text-yellow-500 transition-colors">star_outline</span>
                </div>
            </div>
        </div>
        <textarea
            class="form-textarea w-full resize-y rounded-lg text-black dark:text-white focus:outline-0 focus:ring-2 focus:ring-primary border-gray-300 dark:border-white/20 bg-gray-200 dark:bg-white/5 h-28 placeholder:text-gray-500 dark:placeholder:text-gray-500 text-base font-normal leading-normal p-4"
            placeholder="Comparte tu opinión sobre este libro..."></textarea>
        <div class="flex justify-end">
            <button
                class="flex min-w-21 max-w-120 cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-5 bg-primary text-white text-sm font-bold leading-normal tracking-[0.015em] hover:bg-primary/90 transition-colors">
                <span class="truncate">Publicar Reseña</span>
            </button>
        </div>
    </div>
</div>